<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
    <!-- container for metadata(is not displayed on the page)
    title, styles(css), link, scripts,
    -->
</head>
<body>
<b> Welcome to Java developer course</b>
<h1 align="center" style="color: blue"> Spring boot </h1>
<h2> Spring boot </h2>
<h3> Spring boot </h3>
<h4> Spring boot </h4>
<h5> Spring boot </h5>

<img src="springboot.png" alt="Spring boot image">

<ul>
    <li>Java</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<a href="https://amazon.com">Amazon</a>

<table>
    <tr>
        <td> First name</td>
        <td> Last name</td>
        <td> Salary</td>

    </tr>
    <tr>
        <td> Mike</td>
        <td> Smith</td>
        <td> 125000</td>
    </tr>


</table>

<br>

<label>Username:</label>
<input type="text" name="username" id="username">
<br>
<label>Password:</label>
<input type="password">
<br>
<label>Enter your comments</label>
<br>
<textarea name="comments"></textarea>
<br>

<label>Please select your gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="male">Female
<input type="radio" name="gender" value="male">Other
<br>
<label>Please select your favorite courses</label>
<input type="checkbox" name="course" value="spring">Spring
<input type="checkbox" name="course" value="DS">DS
<input type="checkbox" name="course" value="Java">Java
<br>
<label>Select your program</label>
<select>
    <option value="Java">java</option>
    <option value="C">c</option>
    <option value="Python">python</option>
    <option value="JavaScript">JS</option>
</select>


<br>


<form action="#" method="get">
    Firstname: <input type="text" name="first_name">
    <br>

    Lastname: <input type="text" name="lastname">
    <br>

    <input type="button" value="submit">
</form>

<div style="background-color: aqua">
    <h3>JAVA DEV</h3>
    <ul>
        <li>
            Spring
        </li>
        <li>
            DATA STRUCTURE
        </li>
    </ul>
</div>


</body>
</html>